# local|development|staging|production
NODE_ENV=development

PORT=3500
DB_USERNAME=foo
DB_PASSWORD=foo
DB_DATABASE=foo
DB_HOST=127.0.0.1
DB_DIALECT=mysql
DB_PORT=3306
MAX_DB_CONNECTIONS=5

BASE_URL=http://localhost:3500/api

BSE_URL=http://localhost:3000/api